/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
	top:100px;
	left: 13%;
	width: 74%;
	height:500px;
	z-index: 10000000;
}

#jquery-loader.blue-with-image-2, #jquery-loader-background{
	z-index: 20000000 !important;
}

div#pop-up .getty-image-holder {
	float:left;
	width:170px;
	height:140px;
	padding:5px;
	text-align: center;
}

div#pop-up .getty-image-holder .getty_image_wrapper{
	height:120px;
	text-align: center;
	vertical-align: bottom;
	display: table-cell;
	width: 170px;
}

div#pop-up .getty-image-holder img{
	max-height: 120px;
	margin: 0;
}

.bg_trans{
	display: none;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: silver;
	opacity: 0.4;
	z-index: 100000;
}

.close_getty{
	position: absolute;
	top: 10px;
	right: 10px;
}
